{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
        <div class="bm-container">
            <div class="bm">
                <div class="bm_title d-flex">
                    <a href="#">TIN VIDEO</a>
                </div>

                <div class="bm_SC d-flex">

                    <div id="renderVD" class="bm_L d-flex">
                        {% for news in video_links %}
                        <div class="bm_card d-flex">
                            <div class="bm_card_img img-hover-zoom">
                                <span>
                                      <a target="_blank" href="{{ news.get_url }}">
                                          <img class="" src="{{ news.image.url }}" alt="">
                                      </a>
                                </span>
                            </div>
                            <div class="bm_card_c">
                                <div class="bm_card_c_title">
                                    <h4><a target="_blank" href="">{{ news.title }}</a></h4>
                                </div>
                                <div class="bm_card_c_logo">
                                    <a>
                                       <img src="{% static '/Images/bao-vov.png' %}" alt="">
                                    </a>
                                    <span class="ml-12 fs-13 op-025 "> {{ news.duration }} </span>
                                    <span class="ml-12 fs-13 op-025 "> liên quan  </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="bm_R">
                        <div class="hot-new-24h">
                            <h3 class="bm_News_T text-hover">
                                <span><a href="#">NÓNG 24H</a></span>
                            </h3>
                            <div class="hot-new-24h-container">

                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/nghi-pham-vu-nguoi-phu-nu-tu-vung-thi-the-khong-nguyen-ven.webp"
                                                alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Nghi phạm vụ người phụ nữ
                                            tử vong
                                            thi
                                            thể không nguyên vẹn đã tự sát?</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-nguoi-lao-dong.png"
                                                    alt=""></a>
                                            <span>13 liên quan</span>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/xe-khach-cho-23-nguoi-lao-xuong-vuc.webp" alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Xe khách chở 23 người lao
                                            xuống
                                            vực
                                            trên đèo Đại Ninh</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-phap-luat.png"
                                                    alt=""></a>
                                            <span>11 giờ</span>
                                            <span>38 liên quan</span>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/xe-khach-cho-23-nguoi-lao-xuong-vuc.webp" alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Xe khách chở 23 người lao
                                            xuống
                                            vực
                                            trên đèo Đại Ninh</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-phap-luat.png"
                                                    alt=""></a>
                                            <span>11 giờ</span>
                                            <span>38 liên quan</span>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/vu-thi-the-mot-phu-nu-khong-toan-ven-nghi-pham-gay-an-da-tu-tu.webp"
                                                alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Vụ thi thể một phụ nữ
                                            không toàn
                                            vẹn:
                                            Nghi phạm gây án đã tự tử</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-tien-phong.png"
                                                    alt=""></a>
                                            <span>11 giờ</span>
                                            <span>13 liên quan</span>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/khoc-khi-ong-a-be-mat-phong-vien-trung-quoc-bi-bat-nat-den-muc-tu-sat.webp"
                                                alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Khóc khi ông Abe mất,
                                            phóng viên
                                            Trung
                                            Quốc bị bắt nạt đến mức tự sát</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-zing.png" alt=""></a>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-article">
                                    <div class="post-img-container">
                                        <a class="img-hover-zoom " href="#"><img class="img-post img-radius"
                                                src="./Images/thuyen-truong-tau-BTH-97478.webp" alt=""></a>
                                    </div>
                                    <div class="post-title">
                                        <a href="#" class="anchor-post-p anchor-post-p-right">Thuyền trưởng tàu
                                            BTh-97478: 'Rất
                                            nhiều tàu đi qua nhưng họ không nghe kêu cứu'</a>
                                        <div class="post-footer">
                                            <a href="#"><img class="img-news" src="./Images/bao-phap-luat.png"
                                                    alt=""></a>
                                            <span>11 giờ</span>
                                            <span>15 liên quan</span>
                                            <i class="fa-thin fa-clock"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="bm_boxNews">
                            <h3 class="bm_News_T text-hover">
                                <span><a href="#">PHOTO</a></span>

                            </h3>
                            <div class="bm_card_News_photo-container">
                                <div class="bm_News_c_photo d-flex">
                                    <div class="bm_News_c_photo_img of-hd ">

                                        <a href="#">
                                            <div class="">

                                                <figure class="img-hover-zoom photo_img1 of-hd">
                                                    <img class="img"
                                                        src="https://photo-baomoi.bmcdn.me/w300_r4x3/2022_07_19_16_43210130/2fe5e7543916d0488907.png"
                                                        alt="">
                                                </figure>
                                                <figure class="img-hover-zoom photo_img2 of-hd">
                                                    <img class="img"
                                                        src="https://photo-baomoi.bmcdn.me/w300_r4x3/2022_07_19_16_43210130/6b91a92077629e3cc773.png"
                                                        alt=""></figure>
                                                <figure class="img-hover-zoom photo_img3 of-hd">
                                                    <img class="img"
                                                        src="https://photo-baomoi.bmcdn.me/w300_r4x3/2022_07_19_16_43210130/c04400f5deb737e96ea6.png"
                                                        alt="">
                                                </figure>

                                            </div>
                                        </a>

                                    </div>

                                    <div class="bm_News_c_t fs-19">
                                        <h4 class="text-hover ">
                                            <a href="#">Hơn 1,6 tỷ đồng ủng hộ Quỹ Khuyến học Lê Hữu Trác</a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="https://photo-baomoi.bmcdn.me/e9b048137951900fc940.png"
                                                    alt=""></a>
                                            <span class="ml-12 fs-13 op-025 ">10 phút</span>
                                            <span class="ml-12 fs-13 op-025">13 liên quan</span>

                                        </div>
                                    </div>

                                </div>
                                <div class="bm_News_c_photo d-flex">
                                    <div class="bm_News_c_photo_img of-hd ">

                                        <a href="#">
                                            <div class="">

                                                <figure class="img-hover-zoom photo_img1 of-hd">
                                                    <img class="img"
                                                        src="./images/tra-vinh-kham-benh-phat-thuoc-1.webp"
                                                        alt="">
                                                </figure>
                                                <figure class="img-hover-zoom photo_img2 of-hd">
                                                    <img class="img"
                                                        src="./images/tra-vinh-kham-benh-phat-thuoc-2.webp"
                                                        alt=""></figure>
                                                <figure class="img-hover-zoom photo_img3 of-hd">
                                                    <img class="img"
                                                        src="./images/tra-vinh-kham-benh-phat-thuoc-3.webp"
                                                        alt="">
                                                </figure>

                                            </div>
                                        </a>

                                    </div>

                                    <div class="bm_News_c_t fs-19">
                                        <h4 class="text-hover ">
                                            <a href="#">Trà Vinh: Khám bệnh, phát thuốc, tặng quà cho hơn 400 người dân nghèo</a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="./images/bao-suc-khoe-doi-song.png"
                                                    alt=""></a>
                                            <span class="ml-12 fs-13 op-025 ">10 phút</span>

                                        </div>
                                    </div>

                                </div>
                                <div class="bm_News_c_photo d-flex">
                                    <div class="bm_News_c_photo_img of-hd ">

                                        <a href="#">
                                            <div class="">

                                                <figure class="img-hover-zoom photo_img1 of-hd">
                                                    <img class="img"
                                                        src="./images/dang-ky-thu-phi-kong-dung-1.webp"
                                                        alt="">
                                                </figure>
                                                <figure class="img-hover-zoom photo_img2 of-hd">
                                                    <img class="img"
                                                        src="./images/dang-ky-thu-phi-kong-dung-2.webp"
                                                        alt=""></figure>
                                                <figure class="img-hover-zoom photo_img3 of-hd">
                                                    <img class="img"
                                                        src="./images/dang-ky-thu-phi-kong-dung-3.webp"
                                                        alt="">
                                                </figure>

                                            </div>
                                        </a>

                                    </div>

                                    <div class="bm_News_c_t fs-19">
                                        <h4 class="text-hover ">
                                            <a href="#">Chủ phương tiện ùn ùn đi đăng ký thu phí không dừng</a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="./images/sai-gon-online.png"
                                                    alt=""></a>
                                            <span class="ml-12 fs-13 op-025 ">13 phút</span>
                                            <span class="ml-12 fs-13 op-025">1357 liên quan</span>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="bm_boxNews">
                            <h3 class="bm_News_T text-hover">
                                <span>VIDEO</span>
                            </h3>

                            <div class="bm_card_News-video_container">
                                <div class="bm_card_video d-flex">
                                    <div class="bm_card_video_img ">
                                        <a href="#">
                                            <video class="bm_video_fix" autoplay="true" loop playsinline muted>
                                                <source src="./Images/6-lan-bau-tong-thong-sri-lanka.webm" type="video/webm">
                                            </video>
                                        </a>
                                    </div>

                                    <div class="bm_card_video_c ">
                                        <h4 class="text-hover">
                                            <a href="#">
                                                Người 6 lần làm thủ tướng Sri Lanka, được bầu làm Tổng thống Sri Lanka
                                            </a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="./Images/sai-gon-online.png" alt=""></a>
                                            <span class="ml-12 fs-13 op-025 ">18 phút</span>
                                            <span class="ml-12 fs-13 op-025">13 liên quan</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="bm_card_video d-flex">
                                    <div class="bm_card_video_img  img-hover-zoom">
                                        <a href="#">
                                            <img src="./Images/tphcm-xu-ly-bien-bao-giao-thong-che-khuat.webp" alt="">
                                        </a>
                                    </div>

                                    <div class="bm_card_video_c ">
                                        <h4 class="text-hover">
                                            <a href="#">
                                                TP.HCM xử lý biển báo giao thông bị che khuất
                                            </a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="./Images/vnews.png" alt=""> VNEWS</a>
                                            <span class="ml-12 fs-13 op-025 ">26 phút</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="bm_card_video d-flex">
                                    <div class="bm_card_video_img  img-hover-zoom">
                                        <a href="#">
                                            <img src="./Images/tphcm-thuong-nong-150tr-HCV-quoc-te.webp" alt="">
                                        </a>
                                    </div>

                                    <div class="bm_card_video_c ">
                                        <h4 class="text-hover">
                                            <a href="#">
                                                TP.HCM: Thưởng nóng 150 triệu đồng cho học sinh giành HCV quốc tế
                                            </a>
                                        </h4>
                                        <div class="bm_card_video_c_logo d-flex">
                                            <a href="#"><img src="./Images/vnews.png" alt=""> VNEWS</a>
                                            <span class="ml-12 fs-13 op-025 ">27 phút</span>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
